.m_input {
  background: #FFFFFF 0% 0% no-repeat padding-box !important;
  border: 1px solid #5F5F5F !important;
  border-radius: 6px !important;
  width: 100%;
}

.m_input input {
  width: calc(100% - 20px);
  background: transparent !important;
  border: none !important;
  height: 32px;
}