@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: #D19B22;
    --color-text-inverted: #444444;
    --color-text-white: #ffffff;
    --color-text-muted: #c7d2fe;
    --color-fill: #D19B22;
    --color-dark: #000000;
    --color-gray: #c2c2c2;
    --color-darkgray: #626262;
    --color-bgdark: #000000;
    --color-button-accent: #ffffff;
    --color-button-accent-hover: #eef2ff;
    --color-button-muted: #ff7700;
    --color-darkmode: #000000;
    --nextui-colors-primary: #D19B22;
    --nextui-colors-primarySolidHover: #D19B22; 
    --nextui-colors-border: white;
  }
}

/* Toggle B */
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #48bb78;
}

.img-sepia {
  filter: sepia(1);
}

.main-section {
  /* min-height: calc(100vh - 151px);
  height: 1px; */
}

@layer utilities {
  .layout-px-3 {
    padding-left: 8.75rem;
    padding-right: 8.75rem;
  }

  .layout-px-2 {
    padding-left: 4.75rem;
    padding-right: 4.75rem;
  }

  .layout-px-1 {
    padding-left: 2.75rem;
    padding-right: 2.75rem;
  }

  .f-size-xl {
    font-size: 37px;
  }

  .f-size-lg {
    font-size: 25px;
  }

  .f-size-md {
    font-size: 20px;
  }

  .f-size-sm {
    font-size: 14px;
  }

  .f-size-xs {
    font-size: 12px;
  }

  .mb-5 {
    margin-bottom: 50.5px;
  }

  .al-mb-1 {
    margin-top: -52px;
  }
}

.checkbox-group label {
  font-size: 14px !important;
  color: black !important;
  margin-bottom: 13px !important;
  margin-top: 0px !important;
}

.nextui-checkbox-container {
  width: 18px !important;
  height: 18px !important;
  border-radius: 1px;
  background: #FFFFFF 0% 0% no-repeat padding-box !important;
  border: 1px solid #5F5F5F !important;
  border-radius: 3px !important;
}

.nextui-checkbox-text {
  font-size: 14px !important;
  color: black !important;
}

.nextui-checkbox-group-items label {
  margin-bottom: 3px !important;
}

.nextui-input-wrapper {
  background: #FFFFFF 0% 0% no-repeat padding-box !important;
  border: 1px solid #5F5F5F !important;
  border-radius: 6px !important;
}

.cart-num-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 101px;
  height: 32px;
  border: 1px solid #5F5F5F;
  border-radius: 6px;
  opacity: 1;
  padding: 5px 9px;
}

.cart-num-input .nextui-input-wrapper {
  border: none !important;
  background: transparent !important;
}

.cart-num-input .nextui-input-wrapper .nextui-input {
  font-size: 13px !important;
  text-align: center !important; 
}

.sticky-fixed {
  background: white;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  height: 100%;
  top: 10px;
  bottom: auto;
  z-index: 2;
}

.fixed-bottom {
  position: -webkit-fixed;
  position: -moz-fixed;
  position: -ms-fixed;
  position: -o-fixed;
  position: fixed;
  bottom: 0;
  background: white;
}

.top-shadow {
  box-shadow: 0 -6px 9px -5px rgba(115, 115, 115, 0.65);
}

.algolia-search-hits {
  position: absolute;
  top: 42px;
  left: 0.75rem;
  width: calc(100% - 1.5rem);
  max-height: 200px;
  overflow: auto;
  z-index: 2;
  background: #FFFFFF 0% 0% no-repeat padding-box !important;
  border: 1px solid #5F5F5F !important;
  border-radius: 6px !important;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.algolia-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5rem;
}

.algolia-search-hit-item {
  border: none;
  border-radius: 6px;
  width: 100%;
  /* height: 65px; */
  margin: auto;
  margin-top: 0px;
  margin-bottom: 10px;
  box-shadow: none;
  border-bottom: 1px solid #c3c3c3;
  border-radius: 0;
  cursor: pointer;
}

.algolia-search-hit-item > div {
  padding: 7px;
}

.nv-search-highlight {
  background: gray;
}

.algolia-category-item {
  font-size: 12px;
  background: #e0d6d6;
  padding: 1px 5px;
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.loading-container {
  width: 100%;
  height: 100vh;
  background: #ffffffb3;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -131px;
  z-index: 10;
}

.nextui-loading-label {
  color: #D19B22;
}

.form-group .nextui-input-main-container {
  width: 100%;
}

.form-control .nextui-input-wrapper {
  border-radius: 0 !important;
  height: 30px;
  width: 100%;
}
