@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: #D19B22;
    --color-text-inverted: #444444;
    --color-text-white: #ffffff;
    --color-text-muted: #c7d2fe;
    --color-fill: #D19B22;
    --color-dark: #000000;
    --color-bgdark: #111827;
    --color-button-accent: #ffffff;
    --color-button-accent-hover: #eef2ff;
    --color-button-muted: #ff7700;
    --color-darkmode: #111827;
  }
}

/* Toggle B */
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #48bb78;
}

.img-sepia {
  filter: sepia(1);
}

.main-section {
  min-height: calc(100vh - 151px);
  height: 1px;
}

@layer utilities {
  .layout-px-3 {
    padding-left: 8.75rem;
    padding-right: 8.75rem;
  }

  .layout-px-2 {
    padding-left: 4.75rem;
    padding-right: 4.75rem;
  }

  .layout-px-1 {
    padding-left: 2.75rem;
    padding-right: 2.75rem;
  }
}